@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
    /* font-family: 'Roboto', sans-serif; */

}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Varela Round', sans-serif;

}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width:65px;
    padding: 0 8px;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./images/play.jpg');
    background-size: cover;
    object-fit: cover;

}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;

}
.icons{
    margin-top: 14px;
}
.icons i {
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItem{
display: flex;
height: 50px;
background-color: white;

color: black;
margin: 12px 0;
justify-content: space-between;
align-items: center;
font-family: 'Varela Round', sans-serif;
border-radius: 23px;

}
.songItem img{
    width: 23px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songItemContainer{
    margin-top: 54px;
}
.songInfo{
    position:absolute;
    left: 9vw;
    font-family: 'Varela Round', sans-serif;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}